
<div class="container">
  <h2>User info</h2>


  <div class="grid">

    <div class="col-fixed" style="width: 40rem;" *ngIf="userForm">

      <form [formGroup]="userForm" (submit)="onFormSubmit()">

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" formControlName="name" class="form-control" />
            <small class="text-danger" *ngIf="userForm.get('name')?.dirty && userForm.get('name')?.hasError('required')">
              This field is required.
            </small>
          </div>
        </div>


        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" formControlName="email" class="form-control" />
            <small class="text-danger" *ngIf="userForm.get('email')?.dirty &&  userForm.get('email')?.hasError('required')">
              This field is required.
            </small>
            <small class="text-danger" *ngIf="userForm.get('email')?.dirty && userForm.get('email')?.hasError('email')">
              This field must be email type.
            </small>
          </div>
        </div>


        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" formControlName="password" class="form-control" />
          </div>
        </div>


        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Enabled?</label>
          <div class="col-sm-10">
            <!--  input type="checkbox" name="enabled" formControlName="enabled" / >   -->
            <p-inputSwitch formControlName="enabled"></p-inputSwitch>
            
          </div>
        </div>

        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Created at</label>
          <div class="col-sm-10">
            <!--input type="date" name="createdAt" formControlName="createdAt" class="form-control" /-->
            <p-calendar formControlName="createdAt" dateFormat="yy-mm-dd"></p-calendar>
            <small class="text-danger" *ngIf="userForm.get('createdAt')?.dirty && userForm.get('createdAt')?.hasError('required')">
              This field is required.
            </small>
          </div>
        </div>

        <button pButton type="submit" icon="pi pi-send" label="Send" class="mt-3" [disabled]="userForm.invalid"></button>
      </form>

    </div>

  </div>


</div>